<mat-card>
  <mat-card-header>
    <mat-card-title> Add category </mat-card-title>
  </mat-card-header>
  <mat-card-content class="mt20">
    <div class="bootstrap-wrapper">
      <div class="col-md-8 offset-md-2">
        <form (ngSubmit)="formSubmit()">
          <!-- Title field -->
          <mat-form-field class="w100" appearance="outline">
            <mat-label> Title </mat-label>
            <input
              required
              autofocus
              type="text"
              name="title"
              matInput
              placeholder="Enter here"
              [(ngModel)]="category.title"
            />
          </mat-form-field>

          <!-- Description field -->
          <mat-form-field class="w100" appearance="outline">
            <mat-label> Description </mat-label>
            <textarea
              name="description"
              matInput
              placeholder="Enter description"
              rows="10"
              [(ngModel)]="category.description"
            ></textarea>
          </mat-form-field>

          <div class="container text-center mt10">
            <button mat-raised-button color="primary" type="submit">Add</button>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
