<mat-card>
  <mat-action-list>
    <div mat-subheader>Menu</div>

    <!-- Home Button -->
    <mat-list-item routerLink="/admin">
      <mat-icon matListItemIcon>home</mat-icon>
      <div matListItemTitle>Home</div>
    </mat-list-item>

    <!-- Profile Button -->
    <mat-list-item routerLink="/admin/profile">
      <mat-icon matListItemIcon>account_circle</mat-icon>
      <div matListItemTitle>Profile</div>
    </mat-list-item>

    <!-- Profile Button -->
    <mat-list-item routerLink="/admin/profile">
      <mat-icon matListItemIcon>bookmark</mat-icon>
      <div matListItemTitle>Categories</div>
    </mat-list-item>

    <!-- Profile Button -->
    <mat-list-item routerLink="/admin/profile">
      <mat-icon matListItemIcon>bookmark_add</mat-icon>
      <div matListItemTitle>Add Category</div>
    </mat-list-item>

    <!-- Profile Button -->
    <mat-list-item routerLink="/admin/profile">
      <mat-icon matListItemIcon>quiz</mat-icon>
      <div matListItemTitle>Quizzes</div>
    </mat-list-item>

    <!-- Profile Button -->
    <mat-list-item routerLink="/admin/profile">
      <mat-icon matListItemIcon>library_add</mat-icon>
      <div matListItemTitle>Add Quizzes</div>
    </mat-list-item>

    <!-- Profile Button -->
    <mat-list-item routerLink="/admin/profile">
      <mat-icon matListItemIcon>logout</mat-icon>
      <div matListItemTitle>Logout</div>
    </mat-list-item>
  </mat-action-list>
</mat-card>
